fastapi
uvicorn
sqlalchemy
pydantic
PyJWT
passlib[bcrypt]
bcrypt<=4.0.0
python-multipart
pytest
httpx
requests
types-requests
psycopg[binary]
mypy
jaraco.context>=6.1.0
wheel>=0.46.2
pytest-cov
hypothesis
